
@keyframes dropin {
	0% {
		opacity: 0;
		transform: scale(0);
		transform-origin: bottom;
	}
	50% {
		opacity: .5;
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
.background {
	
	background-size: cover;
	height: 100vw;
	width: 100%;
	z-index: -1;
	position: absolute;
	top: 0;
}
.title {
	color: #fff;
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	font-size: 4em;
	margin: 40px 0 0 0;
	animation: dropin 2s ease-in-out;
}

.sub-title {
	text-align: center;
	color: #000;
	margin: 0;
	font-size: 2em;
	animation: dropin 2s ease-in-out;
}
.image {
	width: 100%;
	z-index: -1;
	box-shadow: 0 5px 10px;
}

button {
	position: relative;
	left: 90% ;
	top: -140px;
	
}
.glyphicon {
	font-size: 1em;
}
.description {
	padding: 10px 0;
	margin: 15px 0;
}
.tagline {
	color: #333;
	text-align: center;
	position: relative;
	z-index: 5;
	top: -180px;
	font-size: 1.5em;
}

.tag {
	font-size: 4em;
}
.thumb {
	height: 150px;
	width: 100%;
	margin: 10px 0 0 0;
	box-shadow: 0 5px 10px
}
.jumbotron {
	z-index: 4;
	box-shadow: 0 5px 10px;
}
.text {
	text-indent: 30px;
	text-align: justify;
	margin: 60px 10px;
	font-size: 3em
}
.footer {
	display: inline-block;
	background-color: #151515;
	width: 100%;
	padding: 10px;
	margin: 90px 0 0 0;
	
}

.footer ul {
margin: 10px 0;
	text-align: center;
}
.footer li {
	display: inline;
	margin: 10px 30px;
	color: #fff;
	font-size: 1.5em;
	
}
.footer a {
	
}
.container-fluid.mainImage {
	height: 250px;
	width: 100%;
	background-size: contain;
	background-repeat: no-repeat;
}
@media screen and (min-width: 728px) {
	button {
		display: none;
	}
	.title {
		font-size: 6em;
		text-align: left;
	}
	.subtitle {
		text-align: left;
	}
}
